<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <system.web>
    <trust level="Full" />
    
    <compilation defaultLanguage="c#" tempDirectory="G:\PleskVhosts\mazenetsolution.com\tmp" />
	
	
      <customErrors mode="On" redirectMode="ResponseRedirect">
         <error statusCode="404" redirect="https://www.mazenet.com/404.php" />
      </customErrors>

	  
  </system.web>
  <appSettings>
    <add key="connection" value="Data Source=**********;Initial Catalog=**********;user id=**********;password=**********" />
    <add key="Algorithm" value="**********" />
    <add key="ACCOUNT_ID" value="**********" />
    <add key="SECRET_KEY" value="**********" />
    <add key="PAYMENT_URL" value="https://secure.ebs.in/pg/ma/payment/request/" />
    <add key="CaptchaSiteKey" value="**********" />
    <add key="CaptchaSecret" value="**********" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="mazenet@mazenetsolution.com">
        <network host="relay-hosting.secureserver.net" password="**********" port="25" userName="mazenet@mazenetsolution.com" defaultCredentials="false" />
        <!-- <network host="relay-hosting.secureserver.net" port="25" /> -->
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
  
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL" >
      <remove statusCode="404" />
      <error statusCode="404" path="https://www.mazenet.com/404.php" responseMode="Redirect" />
    </httpErrors>
	  
	  
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="aaa" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/cisco-ccnp.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/cisco-ccie-security.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Android%207.1.1%20Application%20Development" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=CEH%20%28Certified%20Ethical%20Hacker%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/python.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Python" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=ISTQB%20-%20BCS%20Certified%20Tester%20Foundation%20Level" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/aws-technical-essentials.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=AWS%20Technical%20Essentials" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=.Net%20Training" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mean-stack.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=MEAN%20Stack" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/AWS-DevOps.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=AWS%20DevOps" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/advanced-architecting-on-aws.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Advanced%20Architecting%20on%20AWS" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/downloads/AWS-Course-Syllabus.pdf" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=RedHat%20%7C%20Red%20Hat%20Certified%20Engineer%20%28RHCE%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/containers-docker.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Containers%20and%20Docker" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Java%20Training" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=J2EE%20Training" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/selenium-online-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Selenium" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=RedHat%20%7C%20RedHat%20Certified%20Virtualization%20Administrator%20%28RHCVA%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=ECSA%20%28EC-Council%20Certified%20Security%20Analyst%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Red%20Hat%20OpenStack" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=CHFI%20%28Computer%20Hacking%20Forensics%20Investigator%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/Oracle-12c-DBA.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Oracle%2012c%20Database" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/AWS-Developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=AWS%20Developer" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-12c-developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Oracle%2012c%20Developer" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Cisco%20CCNP" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=CCNA%20Security" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/puppet.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Configuration%20Management%20with%20Puppet%20DO405" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Automation%20with%20Ansible%20-%20DO407" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=CCNA%20%28Cisco%20Certified%20Network%20Associate%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=LPT%20%28Licensed%20Penetration%20Tester%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/openshift.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=OpenShift" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=RedHat%20%7C%20RedHat%20Certified%20System%20Administrator%20%28RHCSA%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Microsoft%20Azure" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/MOC-on-demand.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=Microsoft%20Share-Point%20Online%20Training" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=MCSA%20Windows%20Server%202012" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/development-erp.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/development-billing.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/development-mobile.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/amazon-web-services-solution-architect-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=AWS%20Solution%20Architect" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-offer-inquiry.aspx?CourseName=AWS%20Solution%20Architect" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/certified-digital-marketer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=CDM%20%28Certified%20Digital%20Marketer%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-offer-inquiry.aspx?CourseName=CDM%20%28Certified%20Digital%20Marketer%29" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/itil-foundation.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/course-inquiry.aspx?CourseName=ITIL%C2%AE%20FOUNDATION%20TRAINING" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-android.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-ceh.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-software-testing.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-python.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-aws-technical-essentials.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-dotnet.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-mean-stack.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-AWS-DevOps.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-advanced-architecting-on-aws.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-Containers-Docker.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-rhce.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-core-java.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-j2ee.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-big-data-hadoop.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-selenium.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-rhcva.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-open-stack.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-ecsa.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-chfi.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-oracle-12c-dba.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-oracle-12C-developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-AWS-Developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-ccnp.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-ccna-security.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-redhat-puppet.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-redhat-ansible.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-ccna.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-openshift.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-lpt.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-rhcsa.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-microsoft-azure.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-microsoft-share-point.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-mcsa.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-mcse.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-php.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/instructor-led-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/academic-projects.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsa-ws2012.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsa-ws2008.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcitp-enterprise-administrator.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcitp-server-administrator.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsm-messaging.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsm-communication.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsm-sharepoint.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsm-directory-services.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsa-windows8.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsa-windows7.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mos-mos.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mos-mos-expert.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mos-mos-master.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcts-office365.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcitp-office365.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsa-sql-server2012.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsm-database-platform.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/diploma_in_dotnet.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsd-windows-store-application.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsd-web-application.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/mcsd-application-lifecycle-management.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/microsoft-azure.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/rhcsa.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/redhat-certified-engineer-rhce-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/rhca.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/jboss-jbcca.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/open-stack-administration2.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/comptia-a-plus.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/comptia-n-plus.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/comptia-security-plus.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/eccouncil-cscu.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-sql.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-plsql.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-forms-developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-reports-developer.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-dba-workshop1.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-dba-workshop2.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-dba-performance-tuning.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-11g.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-12c.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/java-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/j2ee-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/oracle-mysql.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/istqb-foundation-level-software-testing-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp-routing.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp_sisas.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp_senss.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp_simos.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ccnp_sitcs.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/rubyonrails.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/php.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/data-scientist-bigdata-analytics-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/soft-skill-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/angularjs.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/bulats.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/r-programming.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-aws-solution-architect.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-cdm.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/job-assurance-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/koala.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training-program-itil-foundation.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/microsoft-share-point-online-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/android-mobile-app-development-course.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/ansible.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/open-stack-administration1.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/redhat-certification-rhcva-training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/franchise.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/training.aspx" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="com/penetration-testing.aspx" />
          </conditions>
          <action type="Redirect" url="/410/error.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>